#Karim koita
#Group 11
###Project ode

In [ ]:
%%capture

!pip install ipython-sql
!pip install databases
!pip install databases[sqlite]

In [4]:
!pip install ipython-sql sqlalchemy  # Ensure ipython-sql and sqlalchemy are installed
%load_ext sql
%sql sqlite:///projectdb.db  # Initialize a SQLite database

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.29)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (67.7.2)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 10.0 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Installing collected packages: jedi
Successfully installed jedi-0.19.1
The sql extension is already loaded. To reload it, use:
  %reload_ext sql
(sqlite3.OperationalError) unrecognized token: "#"
[SQL: # Initialize a SQLite database]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [27]:
%%sql

-- Drop existing tables if they exist
DROP TABLE IF EXISTS Services;
DROP TABLE IF EXISTS Packages;
DROP TABLE IF EXISTS Users;
DROP TABLE IF EXISTS Locations;

CREATE TABLE IF NOT EXISTS Users (
    userID INTEGER PRIMARY KEY AUTOINCREMENT,
    username VARCHAR(50) UNIQUE NOT NULL,
    password VARCHAR(255) NOT NULL,
    email VARCHAR(100)
);

CREATE TABLE IF NOT EXISTS Packages (
    packageID INTEGER PRIMARY KEY AUTOINCREMENT,
    trackingNumber VARCHAR(50) UNIQUE NOT NULL,
    userID INTEGER,
    status VARCHAR(100),
    estimatedDelivery DATE,
    FOREIGN KEY(userID) REFERENCES Users(userID)
);

CREATE TABLE IF NOT EXISTS Locations (
    locationID INTEGER PRIMARY KEY AUTOINCREMENT,
    name VARCHAR(255) NOT NULL,
    address VARCHAR(255) NOT NULL,
    city VARCHAR(100) NOT NULL,
    state CHAR(2) NOT NULL,
    zipCode CHAR(5) NOT NULL
);

CREATE TABLE IF NOT EXISTS Services (
    serviceID INTEGER PRIMARY KEY AUTOINCREMENT,
    locationID INTEGER,
    serviceType VARCHAR(100) NOT NULL,
    description TEXT,
    price DECIMAL(10,2),
    FOREIGN KEY(locationID) REFERENCES Locations(locationID)
);

 * sqlite:///projectdb.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [28]:
%%sql
INSERT INTO Users (username, password, email) VALUES
('user1', 'hashed_password1', 'user1@example.com'),
('user2', 'hashed_password2', 'user2@example.com'),
('user3', 'hashed_password3', 'user3@example.com'),
('user4', 'karim', 'karim@example.com');

INSERT INTO Packages (trackingNumber, userID, status, estimatedDelivery) VALUES
('Z123456789', 1, 'In Transit', '2024-05-25'),
('X987654321', 2, 'Delivered', '2024-04-15'),
('Y111222333', 3, 'In Transit', '2024-06-01'),
('W444555666', 4, 'At Local Post Office', '2024-06-02'),
('V777888999', 1, 'Out for Delivery', '2024-06-03'),
('U000111222', 2, 'Returned to Sender', '2024-05-30');

INSERT INTO Locations (name, address, city, state, zipCode) VALUES
('Main Post Office', '123 Main St', 'Anytown', 'CA', '90210'),
('Downtown Post Office', '456 Elm St', 'Anytown', 'CA', '90211'),
('Suburban Post Office', '789 Birch St', 'Anytown', 'CA', '90212'),
('City Center Post Office', '234 Cedar Rd', 'Anytown', 'CA', '90213');

INSERT INTO Services (locationID, serviceType, description, price) VALUES
(1, 'Standard Mail', 'Deliver within 3-5 business days.', 0.55),
(1, 'Priority Mail', 'Deliver within 1-3 business days.', 7.50),
(2, 'International Mail', 'Deliver to over 190 countries.', 1.20),
(3, 'Express Mail', 'Guaranteed overnight delivery.', 25.00),
(3, 'Certified Mail', 'Provides proof of mailing.', 3.75),
(4, 'Registered Mail', 'Secures valuables with postal insurance.', 12.50),
(4, 'Media Mail', 'Economical way to send media materials.', 2.80),
(1, 'Express International', 'International delivery in 3-5 days.', 45.50),
(2, 'Global Express Guaranteed', 'Delivery to over 190 countries in 1-3 days.', 60.00),
(3, 'Post Office Box Rental', 'Monthly rental of a post office box.', 15.00),
(4, 'Money Order', 'Secure payment method for up to $1,000.', 1.25);

 * sqlite:///projectdb.db
4 rows affected.
6 rows affected.
4 rows affected.
11 rows affected.

[]

In [29]:
%sql SELECT * FROM Users

 * sqlite:///projectdb.db
Done.

[(1, 'user1', 'hashed_password1', 'user1@example.com'),
 (2, 'user2', 'hashed_password2', 'user2@example.com'),
 (3, 'user3', 'hashed_password3', 'user3@example.com'),
 (4, 'user4', 'karim', 'karim@example.com')]